section.post-section {
  width: clamp(28rem, 100%, 80.6rem);
  max-width: 80.6rem;
  height: 57rem;
  /* position: relative; */
  overflow: auto;
  padding: 0 1.8rem;
}

section.post-section::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  section.post-section {
    padding: 0 1.5rem;
  }
}
