aside.user-option-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background-color: #00000080;
}

ul.option-list {
  position: absolute;
  bottom: 0;
  display: grid;
  gap: 1.8rem;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  background-color: #fff;
  padding: 1.8rem 16.6rem 1.7rem 2.6rem;
  transform: translateY(10rem);
  transition: transform 0.3s linear;
  animation: option-slide-in 0.3s linear forwards;
}

@keyframes option-slide-in {
  to {
    transform: translateY(0rem);
  }
}

ul.option-list button {
  font-size: var(--m-tertiary-font);
  /* font-size: clamp(var(--m-medium-text-size), 1.6vw, 2.5rem); */
  font-weight: var(--small-fw);
  line-height: normal;
}

aside.screen {
  top: 0;
  transform: translateY(0rem);
}

aside.screen ul.option-list {
  height: auto;
  right: 0;
  top: 0;
  bottom: unset;
  width: 36.8rem;
  border-radius: 2rem;
  transform: translateY(0rem);
  transition: transform 0.3s linear;
  animation: unset;
}

aside.screen ul.option-list button {
  line-height: 3.48rem;
}
