div.brand1-container {
  width: clamp(5.3rem, 5vw, 9rem);
  height: clamp(5.3rem, 5vw, 9rem);
  margin: 0 auto;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.brand1-container img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  div.brand1-container {
    margin: unset;
  }
}
