main.profile-container {
  display: flex;
}

div.profile-layout {
  width: clamp(28rem, 100%, 80.6rem);
}

@media (min-width: 768px) {
  div.profile-layout {
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-bottom: none;
    margin-top: 1.1rem;
    margin-left: 0.9rem;
    margin-top: 1.1rem;
    margin-left: 0.9rem;
  }
}
