aside.home-widget {
  display: none;
  margin-top: 1.5rem;
  width: clamp(20rem, 100%, 28.5rem);
  max-width: 28.5rem;
  padding-right: 1.5rem;
}

div.home-widget-wrapper {
  display: grid;
  gap: 5.4rem;
}

div.home-widget-btn-container {
  display: grid;
  gap: 9.6rem;
}

.home-widget-btn-container button {
  width: 100%;
  font-size: var(--m-tertiary-font);
  font-weight: var(--ex-small-fw);
  line-height: 2.194rem;
  background-color: #d3e1ff;
  border-radius: 1.5rem;
  padding: 0.8rem 2.4rem;
}

div.home-widget-confidante {
  display: grid;
  /* place-items: center; */
  border: 0.1rem solid black;
  text-align: center;
  height: 48.1rem;
  border-radius: 1.2rem;
}

div.confidante-widget {
  background-color: #000000;
  height: 16.6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.confidante-widget img {
  flex: 3;
  height: 10rem;
}

.confidante-widget h3 {
  font-weight: var(--normal-fw);
  font-size: 2rem;
  line-height: 2.438rem;
  color: var(--primary-white-color);
}

div.confidante-widget-text {
  width: 26.4rem;
  height: 24rem;
}

.confidante-widget-text p {
  width: 92.6%;
  margin: 0 auto;
  font-weight: var(--ex-small-fw);
  line-height: 3rem;
  font-size: var(--m-medium-text-size);
}

.home-widget-confidante button {
  width: 14.5rem;
  height: 4.6rem;
  margin: 0 auto;
  font-size: var(--m-medium-text-size);
  line-height: 3rem;
  font-weight: var(--small-fw);
  background-color: transparent;
  border: 0.1rem solid black;
  border-radius: 1.2rem;
  padding: 0.8rem 2.4rem;
}

@media (min-width: 1030px) {
  aside.home-widget {
    display: block;
  }
}
