button.post-btn {
  background-color: var(--light-blue);
  border-radius: 1.2rem;
  display: grid;
  place-items: center;
  width: 6rem;
  height: 6rem;
  font-size: var(--m-small-text-size);
  font-weight: var(--small-fw);
  line-height: 1.707rem;
  color: #ffffffcc;
  position: absolute;
  margin-top: 1.1rem;
  padding: 1.2rem 1.4rem 1.1rem 1.3rem;
  right: 0.5rem;
  bottom: 10rem;
}
